<p-toolbar class="toolbar">
  <div class="ui-toolbar-group-right">
    <button type="text" pButton label="Basic" (click)="OPdisplay = true"></button>
    <button pButton type="button" label="Add New Event" icon="fa-plus" (click)="display = true"></button>
    <button *ngIf="loggedIn" pButton type="button" label="Logout" icon="fa-minus" (click)="logOut()"></button>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="display" position="right">
  <form [formGroup]="eventForm" (ngSubmit)="newEvent(eventForm.value)">
    <input pInputText type="text" placeholder="Event Title" formControlName="event_title">
    <input type="text" pInputText placeholder="Event Description" formControlName="event_description">
    <input type="text" pInputText placeholder="Event Type" formControlName="event_type">
    <input type="text" pInputText placeholder="Event Address" formControlName="event_address">
    <input type="text" pInputText placeholder="Event Date" formControlName="event_date">
    <input type="text" pInputText placeholder="Event Time" formControlName="event_time">
    <div class="ui-g-12">
      <input pButton type="submit" value="SUBMIT" class="button">
    </div>
  </form>
</p-sidebar>

<p-dialog [(visible)]="OPdisplay">
  <p-header>
    Profile
  </p-header>
  Content
  <p-footer>
    //buttons
  </p-footer>
</p-dialog>
