<div class="container">
  <app-navbar></app-navbar>
  <agm-map [latitude]="events[0].lat" [longitude]="events[0].long" [zoom]="16">
    <agm-marker *ngFor="let event of events" [latitude]="event.lat" [longitude]="event.long">
      <agm-snazzy-info-window [isOpen]="true"[maxWidth]="400" [maxHeight]="400" [closeWhenOthersOpen]="true">
        <ng-template>
          <h4>{{event.event_title}}</h4>
          <h4>{{event.event_description}}</h4>
          <h4>{{event.event_date}}</h4>
          <h4>{{event.event_time}}</h4>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</div>

