<div class="container">
  <app-navbar (filter)="applyFilter($event)" (newE)="refreshMap()"></app-navbar>
  <agm-map
    [latitude]="38.9586"
    [longitude]="-77.3570"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false">
    <!--(mapClick)="mapClicked($event)">-->

    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.title, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.title"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      [visible]="m.visible">

      <agm-snazzy-info-window #snazzyInfoWindow
                              [closeWhenOthersOpen]="true"
                              [closeOnMapClick]="true"
                              maxWidth="300px"
                              maxHeight="200px"
                              padding="10px"
                              [isOpen]="isSnazzyInfoWindowOpened"
                              [latitude]="m.lat" [longitude]="m.lng">
        <ng-template class="si-content">
          <p-card styleClass="ui-card-shadow ui-grid">
            <div class="ui-g ui-card-title ui-grid-responsive ">
              {{m.title}}
            </div>
            <div class="ui-g  ui-card-subtitle ui-grid-responsive ">
              Date: {{m.date}} Time: {{m.time}}
            </div>
            <p-header class="ui-g ">
              <img src="Card" src="../../assets/party.png"/>
            </p-header>
            <div class="ui-g ui-card-title ui-grid-responsive ">
              {{m.address}}
            </div>
            <div class="ui-g  ui-card-subtitle ui-grid-responsive ">
              <p class="textdesc">{{m.description}}</p>
            </div>
            <p-footer class="ui-g  ui-card-footer ui-grid-responsive ">
              <button pButton type="button" (click)="attendEvent(m.id)" label="Attend" icon="fa-check"></button>
            </p-footer>
          </p-card>
        </ng-template>
      </agm-snazzy-info-window>

    </agm-marker>

  </agm-map>

</div>


