
agm-map {
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
}

.container {
  height: 100%;
}

.si-content {
 width: 300px;
  font-family: 'Montserrat', sans-serif;
}

.textdesc{
  max-width: 300px;
}
