
agm-map {
  height: 100vh;
  width: 100%;
}
body{
  height: 100%;
}
.refresh{
  z-index: 1;
  background: whitesmoke;
  color: #47b8e0;
}
.container {
  height: 100%;
}

.si-content {
 width: 300px;
  font-family: 'Montserrat', sans-serif;
}

.textdesc{
  max-width: 300px;
}
