<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/voclain/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <title>Document</title>
</head>
<body>
  <h1>I WORK</h1>
</body>
</html>