<p-sidebar [(visible)]="display" position="right">
  <form [formGroup]="eventForm" (ngSubmit)="newEvent(eventForm.value)" >

    <input pInputText type="text" placeholder="Event Title" formControlName="event_title" >
    <input type="text" pInputText placeholder="Event Description" formControlName="event_description">
    <input type="text" pInputText placeholder="Event Address" formControlName="event_address" >
    <input type="text" pInputText placeholder="Event Date" formControlName="event_date" >
    <input type="text" pInputText placeholder="Event Time" formControlName="event_time">


    <!--<button pButton type="submit" label="Submit" (click)="newEvent()"></button>-->
    <!--<button pButton type="button" label="Cancel" (click)="newEvent(eventForm.value)"></button>-->
    <input type="submit" value="SUBMIT" class="button">
  </form>
</p-sidebar>

