<div class="form">

  <ul class="tab-group">
    <li class="tab active"><a href="#loginscreen"><img src="../../assets/user.png"
                                                       style="width:40px; height:40px;"/></a></li>
    <li class="tab"><a href="#signup"><img src="../../assets/regis.png"
                                           style="width:40px; height:40px;"/></a></li>
  </ul>
  <div class="tab-content">



    <div id="loginscreen">
      <h1>Welcome</h1>
      <form [formGroup]="userForm" (ngSubmit)="loginUser(userForm.value)">
        <div class="field-wrap">
          <label>
            Username<span class="req">*</span>
          </label>
          <input pInputText type="text" formControlName="username"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>
        <div class="field-wrap">
          <label>
           Password<span class="req">*</span>
          </label>
          <input pInputText type="password" formControlName="password"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>
        <section class="buttons">
          <div class="containerB">
            <input type="submit" class="btn btn-5" value="LOGIN">
          </div>

        </section>
      </form>
    </div>

    <div id="signup">
      <h1>Sign Up</h1>

      <form [formGroup]="userForm" (ngSubmit)="registerUser(userForm.value)">

        <div class="top-row">
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input pInputText type="text" formControlName="firstn"  required autocomplete="off"  pKeyFilter="alphanum"/>
          </div>

          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input pInputText type="text" formControlName="lastn"  required autocomplete="off"  pKeyFilter="alphanum"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Username<span class="req">*</span>
          </label>
          <input pInputText type="text" formControlName="username"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>
        <div class="field-wrap">
          <label>
            Set A Password<span class="req">*</span>
          </label>
          <input pInputText type="password" formControlName="password"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>
        <div class="field-wrap">
          <label>
            Email<span class="req">*</span>
          </label>
          <input pInputText type="text" formControlName="email"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>
        <div class="field-wrap">
          <label>
            Favorite Event<span class="req">*</span>
          </label>
          <input pInputText type="text" formControlName="favorite"  required autocomplete="off"  pKeyFilter="alphanum"/>
        </div>


        <section class="buttons">
          <div class="containerB">
            <input type="submit" class="btn btn-5" value="REGISTER">
          </div>
        </section>

      </form>
    </div>
    </div>

  </div>



